@import "./variables.module";

.container {
  background: $black;
  color: $white;
  overflow-x: hidden;
}

.innerContainer {
  max-width: 72.5rem;
  padding: 0 2rem 2rem;
  margin: 0 auto;
}

.maxWidth {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  width: 100%;
  text-align: left;
  padding-left: 1rem;
  padding-top: 1rem;
}

.headerText {
  font-size: 1rem;
  color: $textGray;
  @include bigger {
    font-size: 1.5rem;
  }
}

.label {
  text-transform: uppercase;
  color: $textGray;
  font-size: 1rem;
  @include bigger {
    font-size: 1.125rem;
  }
}

.learnMore {
  color: $green;
  font-size: 0.875rem;
  text-decoration: underline;
  display: block;
  font-family: SequelSansBold;
}

.input {
  height: 3.125rem;
  background: $white;
  border-radius: 0.5rem;
  display: flex;
  width: 100%;
  border: 4px solid $white;
  max-width: 39.5rem;  
  margin: 5.6rem auto 2.4rem;
  @include bigger {
    margin: 7.25rem auto 5rem;
  }
}

.secondInput {
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}

.textInput {
  height: 100%;
  flex-grow: 1;
  outline: 0;
  border: 0;
  margin-left: 0.5rem;
  font-family: SequelSans;
}

.submit {
  background: $green;
  color: $offBlackText;
  font-size: 0.875rem;
  padding: 1rem 2rem;
  border: 0;
  border-radius: 0.5rem;
  line-height: 0;
  height: 2.625rem;
  font-family: SequelSansBold;
  &:hover {
    cursor: pointer;
  }
}

.extraText {
  display: none;
  @include bigger {
    display: inline;
  }
}

.smallText {
  font-size: 1rem;
  color: $textGray;
  margin-bottom: 5rem;
}

.logoBigger {
  display: none;
  @include bigger {
    display: inline-block;
  }
}

.logoSmaller {
  display: inline-block;
  @include bigger {
    display: none;
  }
}
