@import "./variables.module";

.twitterCard {
  position: relative;
  padding: 1rem;
  background: $twitterCardBackground;
  border-radius: 1rem;
  display: inline-flex;
  margin: 0 0.25rem;
  flex-direction: column;
  justify-content: space-between;
  height: 17rem;
  @include bigger {
    height: 19.4rem;
    margin: 0 0.5rem;
  }
}

.twitterImage {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 2.75rem;
  overflow: hidden;
  margin-right: 1rem;
}

.twitterProfileSection {
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  span {
    display: block;
    line-height: 1.25rem;
  }
  @include bigger {
    font-size: 1rem;
  }
}

.username {
  color: $twitterGray;
}

.twitterCaption {
  font-size: 0.8125rem;
  margin-top: 1.5rem;
}

.twitterLogo {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.twitterDate {
  color: $twitterGray;
  font-size: 0.75rem;
}

