@import "./variables.module";

.twitterSectionTop, .twitterSectionBottom {
  height: 12.375rem;
  width: 100%;
  overflow-x: auto;
  display: flex;
  margin-top: 2.6rem;
  @include bigger {
    display: none;
  }
}

.twitterSectionBottom {
  margin-top: 1.5rem;
  margin-bottom: 8.6rem;
}

.twitterSectionBigger {
  width: 100%;
  height: 19.4rem;
  margin-top: 2.6rem;
  margin-bottom: 8.6rem;
  display: none;
  overflow-x: auto;
  @include bigger {
    margin-top: 4.125rem;
  }
  &::after, &::before {
    content: "";
    height: 19.4rem;
    width: 4rem;
    z-index: 1;
    position: absolute;
    right: 0;
    background: linear-gradient(to right, transparent 0%, $black 100%);
  }
  &::before {
    left: 0;
    right: auto;
    background: linear-gradient(to left, transparent 0%, $black 100%);
  }
  @include bigger {
    display: flex;
  }
}
